.calendar {
    position: fixed;
    top: 90px;
    right: 10px;
    bottom: 10px;
    width: 500px;
    z-index: 996;
    border-radius: 25px;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-margin-left: 5px;
    scrollbar-color: #000000 transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #ffffff;
}