.stopwatch {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

  }
  
  .display {
    margin: 20px;
    padding: 0;
    font-size: 3.5rem;
    font-weight: 500;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(238, 238, 215);
  }
  
  .start-btn, .stop-btn, .reset-btn, .lap-btn {
    border-style: none;
    color: #000000;
    padding: 5px 35px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    margin: 0 5px;
    margin-bottom: 50px;
    transition: background-color 0.5s ease;
  }
  
  .start-btn {
    background-color: olivedrab;
    color: white;
  }
  
  .stop-btn {
    background-color: tomato;
    color: white;
  }
  
  .reset-btn {
    background-color: skyblue;
    color: white;
  }
  
  .lap-btn {
    background-color: #FF7D29;
    color: white;
  }
  
  .lap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .lap:first-child {
    color: #ff0000;
    border-top: 1px solid #aa9e9e;
    padding: 20px 0 5px;
  }
  
  .lap-number {
    text-align: left;
  }
  
  .lap-time {
    text-align: right;
  }
  
  @media (max-width: 1200px) {
    .display {
        font-size: 3rem;
    }
  }
  
  @media (max-width: 992px) {
    .display {
        font-size: 2.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .display {
        font-size: 2rem;
    }
  }
  
  @media (max-width: 576px) {
    .display {
        font-size: 1.5rem;
    }
  
    .controls {
        flex-direction: column;
        gap: 10px;
    }
  
    .lap {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .lap-number,
    .lap-time {
        width: 100%;
        text-align: left;
    }
  }
  
  button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  /* .semi {
    color: #0a97f5;
  } */


.stopwatch-container {
    position: fixed;
    right: 1%;
    top: 11%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 26.5%;
    max-height: 80vh;   
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    height:46.2vh;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 10px;
    height: 62vh; 
    overflow-y: auto;
    transition: width 0.3s ease;
    
}